#album-list{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width:360px;
}

.album-button{
    height: 140px;
    width: 140px;
    margin: 10px;
    background-size: cover;
    color: white;
    font-size: larger;
    content-visibility: hidden;
    border-radius: 8px;
}

.album-button:hover{
    content-visibility: visible;
}

.album-button-hover-info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    background: rgba(0,0,0,0.5);
}

.album-button-hover-info>div {
    left:45px;
    border-top: 30px solid transparent;
    border-left: 60px solid rgba(255, 255, 255, 0.8);
    border-bottom: 30px solid transparent;
    position: relative;
}

.container__playlist {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-image: linear-gradient(to bottom, #151111, #080000);
    width: 50vw;
    height: 100%;
    overflow-y: auto;
    overflow-x: clip;
}

.playlist__album__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffe1e1;
    padding: 1em;
    text-align: center;
}

.playlist__album__info__title{
    font-size: 48px;
}

.playlist__album__info__text{
    font-size: 20px;
    padding: 0 0.5em;
}

.playlist__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 100%;
    height:100%;
    padding: 0 1em;
}

.playlist__list>li {
    width: 100%;
    display: flex;
    justify-content: stretch;
    flex-direction: row;
}

.playlist__list__item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #222222;
    padding-right: 1em;
    margin: 0.1em 3em 0.1em 0;
    border: 1px #000000 solid;
}

.playlist__list__item:hover{
    background-color: #333333;
}

.playlist__list__item__icon{
    width: 2.5em;
    height: 2.5em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/imgs/mb_play.png");
    opacity: 0.2;
}

.playing .playlist__list__item__icon {
    opacity: 1;
}
.playing{
    background-color: #444444;
}

.playlist__list__item__name{
    color: #ffe1e1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.playlist__list__item__time{
    color: #ffe1e1;
    font-weight: 700;
}

#song-info{
    overflow: hidden;
    height: auto;
    padding: 0 0 1em 0;
}

#song-info-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#playlist-selector{
    z-index: 1000;
}

#album-list h1{
    font-size: 26px;
    margin-bottom: 10%;
}

@media screen and (max-width: 768px) {

.container__playlist{
        display: block;
        width: 100%;
    }

    #album-info-text{
        padding:0;
        margin:0;
        width:100vw;
        display: none;
    }

    .playlist__album__info__title{
        font-size: 1.2em;
    }

    .playlist__album__info__text{
        font-size: 0.7em;
    }

    .playlist__list{
        margin: 0 0 0 0;
        padding: 0 0 200px 0;
    }
    .playlist__list__item{
        margin: 0;
        padding: 0 0.2em 0 0;
    }

    .playlist__list__item__icon{
        margin: 0;
        padding: 0;
    }

    #playlist-selector{
        position: absolute;
        display: block;
        top:0;
        width: 100vw;
        text-align: center;
        overflow-y: scroll;
    }

    #album-list{
        display: block;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        flex-wrap: nowrap;
        overflow-y: scroll;
        width: 100vw;
        left: 0;
        top:0;
        text-align: center;
    }

    #album-list h1{
        display: block;
        width: 100%;
        font-size: 5vw;
        height: 10vh;
        padding-top: 7vh;
        text-wrap: nowrap;
        overflow: visible;
    }
}