<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="./styles/style.css">
  <link rel="stylesheet" type="text/css" href="./styles/2018.css">
  <link rel="stylesheet" type="text/css" href="./styles/2019.css">
  <link rel="stylesheet" type="text/css" href="./styles/2021.css">
  <link rel="stylesheet" type="text/css" href="./styles/2022.css">
  <link rel="stylesheet" type="text/css" href="./styles/2023.css">
  <link rel="stylesheet" type="text/css" href="./styles/2024.css">
  <link rel="stylesheet" type="text/css" href="./styles/2025.css">

  <link rel="icon" type="image/x-icon" ref="favicon.ico">

  <title>First of October - fansite</title>
  <script src="./scripts/app.js"></script>
  <script data-goatcounter="https://foo-fansite.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</head>

<body>
  <main>
        <h1 class="page-title">First of October</h1>
        <div class="year_selector_container">
          <button class="panel-button btn-2025" id="btn-2025" onclick="SelectAlbum('2025');">2025</button>
          <button class="panel-button btn-2024" id="btn-2024" onclick="SelectAlbum('2024');">2024</button>
          <button class="panel-button btn-2023" id="btn-2023" onclick="SelectAlbum('2023');">2023</button>
          <button class="panel-button btn-2022" id="btn-2022" onclick="SelectAlbum('2022');">2022</button>
          <button class="panel-button btn-2021" id="btn-2021" onclick="SelectAlbum('2021');">2021</button>
          <button class="panel-button btn-2019" id="btn-2019" onclick="SelectAlbum('2019');">2019</button>
          <button class="panel-button btn-2018" id="btn-2018" onclick="SelectAlbum('2018');">2018</button>
      </div>
        <div class="grid">
            <button id="button-making-of" class="main-btn main-button" onclick="ShowMakingOf();">
              <p class="main-button-inner-text">🎥 Making of</p>
            </button>

            <button id="button-special" class="main-btn main-button" onclick="ShowSpecial();">
              <p class="main-button-inner-text">🌟 Special</p>
            </button>
            <button id="music-player-button" class="main-button secondary-btn" onclick="ShowMusicPlayer();"><p class="main-button-inner-text">▶️ Music Player</p></button>

            <button id="extra-button-merch" class="main-button tertiary-btn extra-button extra-button-small" onclick="OpenMerchLink();"><p class="extra-button-small-inner-text">💽 Merch</p></button>
            <button id="extra-button-zine" class="main-button tertiary-btn extra-button extra-button-small"
              onclick="ShowZinesPage();"><p class="extra-button-small-inner-text">📰 Zine</p></button>
            <button id="extra-button-contact" class="main-button tertiary-btn extra-button extra-button-small"
              onclick="ShowContactPanel();"><p class="extra-button-small-inner-text">✉️ Contact</p></button>
            <button id="about-button" class="main-button tertiary-btn extra-button extra-button-small" onclick="ShowAboutPanel();"><p class="extra-button-small-inner-text">❔ About</p></button>
            <button id="lyrics-button" class="main-button tertiary-btn extra-button extra-button-small" onclick="GoToLyricsPage();"><p class="extra-button-small-inner-text">🎶 Lyrics <span class="new-label">new</span></p></button>
            <button id="blog-button" class="main-button tertiary-btn extra-button extra-button-small" onclick="GoToBlogPage();"><p class="extra-button-small-inner-text">🗒️ Blog <span class="new-label">new</span></p></button>
      </div>
        </div>
        <footer class="footer_home footer__regular">Foo Fansite by <a href="http://caiomga.com" target="_blank">Caio Amaral</a>
        <a class="img-link" href="https://brchad.com" target="_blank"><img src="/brchad-2025.png" alt="BRCHAD button"></a>
      </footer>
    </main>
  <div id="fullscreen-menu" class="fullscreen-menu hidden">
    <div class="fullscreen-menu-content">
      <button class="fullscreen-menu__button" onclick="ToggleFullscreenMenu();">Close Video</button>
      <button class="fullscreen-menu__button" onclick="ShowMakingOf();">🎥 Making of</button>
      <button class="fullscreen-menu__button" onclick="ShowSpecial();">🌟 Special</button>
      <button class="fullscreen-menu__button" onclick="ShowAboutPanel();">❔ About</button>
      <button class="fullscreen-menu__button" onclick="ShowContactPanel();">✉️ Contact</button>
    </div>

  </div>
  <div id="player" class="hidden player-small"></div>
  
  
  
</body>

</html>